
<!-- <div id='day'> -->
  <p id="days" class="big-text">0</p>
  
        <!-- </div> -->
        <!-- <div id='hour'> -->
         <p id="hours" class="big-text">0</p>
       <!-- </div> -->
       <!-- <div id='min'> -->
         <p id="mins" class="big-text">0</p>
       <!-- </div> -->
       <!-- <div id='sec'> -->
         <p id="secs" class="big-text">0</p>
       <!-- </div> -->

