<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Year | Count Down</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <!-- Internal or External css not working, don't know why-->
  <body style='background-color: #195D7E;'>
    <div class="content center" style='background-color:#55b0dd;'>
      <h1>Get Ready for the New Year!</h1>
      <%- include('partials/countdown.ejs')%>
      <form class="email" action="/" method="post">
        <input type="email" name="email" value="" placeholder="Email">
        <button type="submit" name="button">Submit</button>
      </form>
      <%=message%>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src='js/index.js'></script>
</html>
